* {font-family: 'Inter'}

.uch-ntk-text-btn {
  display: none;
}
.uch-ntk-text {
  margin-block: 20px;
  text-align: center;
}
.uch-ntk-text-btn.rdc-active {
  display: flex;
}
    .uch-ntk-popup-inner img {
    width: 170px;
    margin-inline: auto;
    display: block;
}

.uch-ntk-text-btn {
    align-items: center;
    flex-flow: column;
}

.uch-ntk-btn-primary,
.uch-ntk-btn-secondary {
  padding: 10px 20px;
    border-radius: 100px;
  font-size: 16px;
      text-decoration: none;
}

.uch-ntk-btn-primary {
    background-color: #FF8A00;
     color: #fff;
   margin-right: 20px;
  border: unset;
  cursor: pointer;
}
.uch-ntk-btn-secondary {
  border: 1px solid #000;
  color: #000;
}
